@value makerLightGrey, makerGreen from '../../common/color.css';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: none;
}

.button {
  width: 100%;
  height: 100%;
  background-color: makerLightGrey;
  border: none;
  cursor: pointer;
  color: makerGreen;
  font-weight: bold;
  font-size: 0.8rem;
  outline: none;
}

.button:hover {
  opacity: 0.8;
}

.loding {
  width: 2em;
  height: 2em;
  border: 3px solid #a29bfe;
  border-top: 3px solid #6c5ce7;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.button.grey {
  background-color: makerLightGrey;
}

.button.colorFul {
  background: rgb(252, 228, 255);
  background: linear-gradient(
    90deg,
    rgba(252, 228, 255, 1) 0%,
    rgba(255, 215, 255, 1) 50%,
    rgba(255, 194, 255, 1) 100%
  );
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
