@value makerLightYellow from './common/color.css';
@value makerGreen from './common/color.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(248, 251, 155);
  background: linear-gradient(
    90deg,
    rgba(248, 251, 155, 1) 0%,
    rgba(252, 252, 173, 1) 28%,
    rgba(248, 248, 236, 1) 100%
  );
  color: makerGreen;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
